openapi: 3.1.0
info:
  title: Jurisimus Platform API
  version: 1.0.0
  description: Knowledge infrastructure for software teams. Public surface — canonical platform
    primitives (WorkItem, Iteration, Page, Label, Project, Workflow). Auto-generated from Zod
    schemas via `bun run openapi:build`. Do not hand-edit; CI rejects PRs whose Zod schemas drift
    from this file.
servers:
  - url: https://api.jurisimus.com
security:
  - bearerAuth: []
paths:
  /v1/accounts:
    get:
      tags:
        - Accounts
      summary: List accounts
      parameters:
        - in: query
          name: page
          schema:
            type: integer
            minimum: 1
            maximum: 9007199254740991
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - in: query
          name: sort_by
          schema:
            type: string
        - in: query
          name: sort_order
          schema:
            type: string
            enum:
              - asc
              - desc
        - in: query
          name: search
          schema:
            type: string
      responses:
        "200":
          description: A page of accounts.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountListEnvelope"
    post:
      tags:
        - Accounts
      summary: Create an account
      parameters:
        - in: header
          name: idempotency-key
          schema:
            description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
              docs/platform/stripe-v2-adoption.md.
            type: string
            maxLength: 255
          description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
            docs/platform/stripe-v2-adoption.md.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAccount"
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
  /v1/accounts/me/organizations:
    get:
      tags:
        - Accounts
      summary: List the caller's organization memberships (JWT-only)
      description: "Returns every organization the authenticated account is an active member of, paired
        with the membership row (role, joined_at). Bare `{ data: [...] }` envelope — no cursor
        metadata since membership counts are typically single-digit. **Tenant-owner-only**:
        dashboard JWT session only; API keys and PATs are rejected with 403."
      responses:
        "200":
          description: List of memberships.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountMembershipList"
  /v1/accounts/me/workspaces:
    get:
      tags:
        - Accounts
      summary: List every workspace the caller can reach (workspace-switcher source, JWT-only)
      description: Returns every workspace across every organization the authenticated account is a member
        of, grouped `organization → workspace`. Soft-deleted orgs and workspaces are filtered out
        server-side. Sort order is deterministic `(org.created_at, workspace.created_at)`. Companion
        to the `Jurisimus-Workspace-Id` request header — see `docs/platform/api-discipline.md` §
        Workspace switcher.
      responses:
        "200":
          description: Grouped workspaces.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountWorkspaces"
  /v1/accounts/me:
    delete:
      tags:
        - Accounts
      summary: Delete the caller's whole account (JWT-only)
      description: 'Cascades through every organization the caller owns: cancels subscriptions, emits
        `organization.deleted` events, deletes each org row (FK cascade handles every child
        resource), revokes all account tokens, and deletes the account row. Required by Apple App
        Store + GDPR. Body MUST contain `{ "confirmation": "DELETE" }` or the request is rejected.
        **Tenant-owner-only**: dashboard JWT session only; API keys and PATs are rejected with 403
        (an integration credential cannot delete its own account).'
      parameters:
        - in: header
          name: idempotency-key
          schema:
            description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
              docs/platform/stripe-v2-adoption.md.
            type: string
            maxLength: 255
          description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
            docs/platform/stripe-v2-adoption.md.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteMyAccountRequest"
      responses:
        "200":
          description: Account deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeletedAck"
  /v1/accounts/me/usage/summary:
    get:
      tags:
        - Accounts
      summary: Consolidated usage across all owned organizations (JWT-only)
      description: Sums `usage_summary` results for every organization the caller's account owns (via
        `organizations.account_id`). Returns the grand total alongside a per-org breakdown so a
        multi-org payer can reconcile total spend without round-tripping per org. Each org's period
        is its own subscription window — orgs on different plans bill on different cycles.
      responses:
        "200":
          description: Consolidated usage across the caller's owned organizations.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountUsageSummary"
  /v1/accounts/me:switch_organization:
    post:
      tags:
        - Accounts
      summary: Switch the caller's active organization (JWT-only)
      description: AIP-136 custom action. Re-issues the caller's access/refresh token pair bound to the
        specified organization. The active organization is JWT-bound (see `multi-tenant-model.md` §
        "Active organization resolution"); switching is a token rebind, not a header override.
        Returns 403 `organization_membership_required` if the caller doesn't hold an active
        membership in the target org.
      parameters:
        - in: header
          name: idempotency-key
          schema:
            description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
              docs/platform/stripe-v2-adoption.md.
            type: string
            maxLength: 255
          description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
            docs/platform/stripe-v2-adoption.md.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SwitchOrganization"
      responses:
        "200":
          description: New token pair bound to the target organization.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthExchange"
        "403":
          description: Caller is not an active member of the target organization.
  /v1/accounts/{id}:
    get:
      tags:
        - Accounts
      summary: Retrieve an account
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: ^[a-z][a-z0-9]*_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `<prefix>_<base58>`. Prefix is the resource type's
              stable short tag (`acc`, `org`, `pr`, `wi`, …). See `docs/platform/api-discipline.md`
              § A1."
            example: wi_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `<prefix>_<base58>`. Prefix is the resource type's
            stable short tag (`acc`, `org`, `pr`, `wi`, …). See `docs/platform/api-discipline.md` §
            A1."
      responses:
        "200":
          description: The account.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
        "404": &a1
          description: Not found.
    put:
      tags:
        - Accounts
      summary: Update an account
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: ^[a-z][a-z0-9]*_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `<prefix>_<base58>`. Prefix is the resource type's
              stable short tag (`acc`, `org`, `pr`, `wi`, …). See `docs/platform/api-discipline.md`
              § A1."
            example: wi_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `<prefix>_<base58>`. Prefix is the resource type's
            stable short tag (`acc`, `org`, `pr`, `wi`, …). See `docs/platform/api-discipline.md` §
            A1."
        - in: header
          name: idempotency-key
          schema:
            description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
              docs/platform/stripe-v2-adoption.md.
            type: string
            maxLength: 255
          description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
            docs/platform/stripe-v2-adoption.md.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAccount"
      responses:
        "200":
          description: Updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
    delete:
      tags:
        - Accounts
      summary: Delete an account
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: ^[a-z][a-z0-9]*_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `<prefix>_<base58>`. Prefix is the resource type's
              stable short tag (`acc`, `org`, `pr`, `wi`, …). See `docs/platform/api-discipline.md`
              § A1."
            example: wi_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `<prefix>_<base58>`. Prefix is the resource type's
            stable short tag (`acc`, `org`, `pr`, `wi`, …). See `docs/platform/api-discipline.md` §
            A1."
        - in: header
          name: idempotency-key
          schema:
            description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
              docs/platform/stripe-v2-adoption.md.
            type: string
            maxLength: 255
          description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
            docs/platform/stripe-v2-adoption.md.
      responses:
        "200":
          description: Deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeletedAck"
  /v1/activities:
    get:
      tags:
        - Activities
      summary: List activities (sidebar feed)
      description: Page-paginated activity list, org-scoped. Powers the sidebar feed. Agent-facing
        consumers should prefer `GET /v1/activity` (cursor-paginated, narrower projection).
      parameters:
        - in: query
          name: workspace_id
          schema:
            type: string
            pattern: ^ws_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `ws_<base58>`."
            example: ws_3wVELpcuMmQzwJYr5JBWv5
        - in: query
          name: entity_id
          schema:
            type: string
            format: uuid
            pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
        - in: query
          name: entity_type
          schema:
            type: string
            enum:
              - task
              - epic
              - sprint
              - iteration
              - project
              - comment
              - page
              - label
              - attribute_value
              - attachment
              - site
              - feature_request_board
        - in: query
          name: type
          schema:
            type: string
            enum:
              - task_created
              - task_updated
              - task_deleted
              - task_moved
              - task_assigned
              - task_unassigned
              - task_status_changed
              - task_priority_changed
              - task_sprint_changed
              - task_epic_changed
              - task_estimate_changed
              - task_due_date_changed
              - comment_added
              - comment_updated
              - comment_deleted
              - iteration_created
              - iteration_updated
              - iteration_started
              - iteration_completed
              - iteration_deleted
              - label_attached
              - label_detached
              - attribute_value_changed
              - attribute_value_unset
              - attachment_uploaded
              - attachment_deleted
              - tag_added
              - tag_removed
              - page_created
              - page_updated
              - page_deleted
              - page_collab_joined
              - page_collab_left
              - site_created
              - site_enabled
              - site_disabled
              - site_updated
              - site_deleted
              - feature_request_board_created
              - feature_request_board_updated
              - feature_request_board_deleted
        - in: query
          name: actor_id
          schema:
            type: string
            format: uuid
            pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
        - in: query
          name: page
          schema:
            type: integer
            minimum: 1
            maximum: 9007199254740991
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 9007199254740991
      responses:
        "200":
          description: A page of activities + total count.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivityListEnvelope"
  /v1/activities/workspace:
    get:
      tags:
        - Activities
      summary: List activities for the caller’s workspace
      description: Returns the workspace-scoped activity feed. The workspace is resolved from the caller
        credential (API key) or the `Jurisimus-Workspace-Id` override (JWT / PAT).
      parameters:
        - in: query
          name: limit
          schema:
            description: Max rows to return. Defaults to 50 server-side.
            type: integer
            minimum: 1
            maximum: 9007199254740991
          description: Max rows to return. Defaults to 50 server-side.
      responses:
        "200":
          description: Activities for the workspace.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivityFeedEnvelope"
  /v1/activities/entity/{entityType}/{entityId}:
    get:
      tags:
        - Activities
      summary: List activities for a specific entity
      parameters:
        - in: path
          name: entityType
          schema:
            type: string
            enum:
              - task
              - epic
              - sprint
              - iteration
              - project
              - comment
              - page
              - label
              - attribute_value
              - attachment
            description: Closed set mirrored from `ENTITY_TYPES` in activities.dto.ts.
          required: true
          description: Closed set mirrored from `ENTITY_TYPES` in activities.dto.ts.
        - in: path
          name: entityId
          schema:
            type: string
            format: uuid
            pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
          required: true
        - in: query
          name: limit
          schema:
            description: Max rows to return. Defaults to 50 server-side.
            type: integer
            minimum: 1
            maximum: 9007199254740991
          description: Max rows to return. Defaults to 50 server-side.
      responses:
        "200":
          description: Activities scoped to the (entityType, entityId) pair.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivityFeedEnvelope"
  /v1/activities/me:
    get:
      tags:
        - Activities
      summary: List activities the caller authored
      parameters:
        - in: query
          name: limit
          schema:
            description: Max rows to return. Defaults to 50 server-side.
            type: integer
            minimum: 1
            maximum: 9007199254740991
          description: Max rows to return. Defaults to 50 server-side.
      responses:
        "200":
          description: Activities authored by the authenticated caller.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivityFeedEnvelope"
  /v1/activity:
    get:
      tags:
        - ActivityFeed
      summary: Query the org activity feed
      description: Cursor-paginated, org-scoped, simple-equality filters. The canonical "what happened in
        this org in the last N hours?" endpoint for AI agents — kept narrow so a page drops cleanly
        into a model prompt. See `docs/ai-native-company/README.md` § 5.
      parameters:
        - in: query
          name: page_size
          schema:
            default: 20
            type: integer
            minimum: 1
            maximum: 100
        - in: query
          name: page_token
          schema:
            type: string
            minLength: 1
        - in: query
          name: entity_type
          schema:
            type: string
            minLength: 1
            maxLength: 64
        - in: query
          name: entity_id
          schema:
            type: string
            format: uuid
            pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
        - in: query
          name: actor_type
          schema:
            type: string
            enum:
              - user
              - agent
              - system
              - service
        - in: query
          name: type
          schema:
            type: string
            minLength: 1
            maxLength: 128
        - in: query
          name: workspace_id
          schema:
            type: string
            pattern: ^ws_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `ws_<base58>`."
            example: ws_3wVELpcuMmQzwJYr5JBWv5
        - in: query
          name: since
          schema:
            type: string
            format: date-time
            pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
        - in: query
          name: until
          schema:
            type: string
            format: date-time
            pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
        - in: query
          name: include
          schema:
            description: "Comma-separated relations to inline-expand. Whitelist: `actor_account`, `entity`. See
              `docs/platform/api-discipline.md` § C2."
            type: string
          description: "Comma-separated relations to inline-expand. Whitelist: `actor_account`, `entity`. See
            `docs/platform/api-discipline.md` § C2."
      responses:
        "200":
          description: A cursor page of activities.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivityCursorPage"
  /v1/api_keys:
    get:
      tags:
        - ApiKeys
      summary: List API keys
      description: Lists every API key in the caller’s active organization. The raw token value is NEVER
        carried on this response — consumers identify rows via `token_prefix` + `token_last4`.
      responses:
        "200":
          description: A list of API-key rows.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyList"
    post:
      tags:
        - ApiKeys
      summary: Issue a new API key
      description: Mints a fresh `ak_live_*` (or `ak_test_*`) token and returns it ONCE on this response
        under `token`. Subsequent reads omit the field (the value is hashed at rest). Store the
        token immediately — the platform cannot recover it.
      parameters:
        - in: header
          name: idempotency-key
          schema:
            description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
              docs/platform/stripe-v2-adoption.md.
            type: string
            maxLength: 255
          description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
            docs/platform/stripe-v2-adoption.md.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateApiKey"
      responses:
        "201":
          description: Created. `token` is populated for this single response only.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKey"
        "403":
          description: API keys cannot mint other API keys — sign in with a user session.
  /v1/api_keys/{id}:
    get:
      tags:
        - ApiKeys
      summary: Retrieve an API key
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: ^[a-z][a-z0-9]*_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `<prefix>_<base58>`. Prefix is the resource type's
              stable short tag (`acc`, `org`, `pr`, `wi`, …). See `docs/platform/api-discipline.md`
              § A1."
            example: wi_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `<prefix>_<base58>`. Prefix is the resource type's
            stable short tag (`acc`, `org`, `pr`, `wi`, …). See `docs/platform/api-discipline.md` §
            A1."
      responses:
        "200":
          description: Found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKey"
    delete:
      tags:
        - ApiKeys
      summary: Revoke an API key
      description: Marks the row revoked and pushes its id onto the platform-wide denylist for
        zero-latency revocation across replicas.
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: ^[a-z][a-z0-9]*_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `<prefix>_<base58>`. Prefix is the resource type's
              stable short tag (`acc`, `org`, `pr`, `wi`, …). See `docs/platform/api-discipline.md`
              § A1."
            example: wi_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `<prefix>_<base58>`. Prefix is the resource type's
            stable short tag (`acc`, `org`, `pr`, `wi`, …). See `docs/platform/api-discipline.md` §
            A1."
        - in: header
          name: idempotency-key
          schema:
            description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
              docs/platform/stripe-v2-adoption.md.
            type: string
            maxLength: 255
          description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
            docs/platform/stripe-v2-adoption.md.
      responses:
        "200":
          description: Revoked.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKey"
  /v1/api_keys/{id}/usage:
    get:
      tags:
        - ApiKeys
      summary: Per-key usage drill-down
      description: Last-30-days totals + daily time-series for one specific api-key. Mirrors the org-level
        `usage/breakdown?group_by=day` shape filtered to a single `api_key_id`. Default window is
        the last 30 days ending now; pass `from` / `to` (RFC 3339) to override.
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: ^[a-z][a-z0-9]*_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `<prefix>_<base58>`. Prefix is the resource type's
              stable short tag (`acc`, `org`, `pr`, `wi`, …). See `docs/platform/api-discipline.md`
              § A1."
            example: wi_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `<prefix>_<base58>`. Prefix is the resource type's
            stable short tag (`acc`, `org`, `pr`, `wi`, …). See `docs/platform/api-discipline.md` §
            A1."
        - in: query
          name: from
          schema:
            type: string
            format: date-time
            pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
        - in: query
          name: to
          schema:
            type: string
            format: date-time
            pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
      responses:
        "200":
          description: Per-key usage drill-down for the requested window.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyUsage"
  /v1/api_keys/{id}:rotate:
    post:
      tags:
        - ApiKeys
      summary: Rotate an API key (AIP-136 custom action)
      description: "Mints a new key with the same scope + metadata + mode + pinned version. The previous
        key is revoked (or sunset, with a grace window) atomically; its id remains on the new row as
        `rotated_from_id`. Returns the new raw token under `token`. Without `grace_period_hours`:
        previous key dies immediately. With it: previous key stays valid for the window (capped at
        the original key's `expires_at`), and the response carries `Sunset` (RFC 8594) +
        `Deprecation` (RFC 9745) headers so SDK consumers can migrate during the window."
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: ^[a-z][a-z0-9]*_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `<prefix>_<base58>`. Prefix is the resource type's
              stable short tag (`acc`, `org`, `pr`, `wi`, …). See `docs/platform/api-discipline.md`
              § A1."
            example: wi_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `<prefix>_<base58>`. Prefix is the resource type's
            stable short tag (`acc`, `org`, `pr`, `wi`, …). See `docs/platform/api-discipline.md` §
            A1."
        - in: header
          name: idempotency-key
          schema:
            description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
              docs/platform/stripe-v2-adoption.md.
            type: string
            maxLength: 255
          description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
            docs/platform/stripe-v2-adoption.md.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RotateApiKey"
      responses:
        "201":
          description: Rotated. `token` is populated for this single response only.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKey"
  /v1/attachments:
    post:
      tags:
        - Attachments
      summary: Create an attachment (finalize a presigned upload)
      description: Records that the byte blob at `s3_key` is bound to the given parent. Service validates
        parent existence, key prefix, and S3 object presence before inserting.
      parameters:
        - in: header
          name: idempotency-key
          schema:
            description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
              docs/platform/stripe-v2-adoption.md.
            type: string
            maxLength: 255
          description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
            docs/platform/stripe-v2-adoption.md.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAttachment"
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttachmentEnvelope"
  /v1/attachments/{id}:
    get:
      tags:
        - Attachments
      summary: Retrieve an attachment
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: ^att_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `att_<base58>`."
            example: att_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `att_<base58>`."
      responses:
        "200":
          description: The attachment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttachmentEnvelope"
        "404": *a1
    delete:
      tags:
        - Attachments
      summary: Delete an attachment (drops the row + best-effort S3 cleanup)
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: ^att_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `att_<base58>`."
            example: att_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `att_<base58>`."
        - in: header
          name: idempotency-key
          schema:
            description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
              docs/platform/stripe-v2-adoption.md.
            type: string
            maxLength: 255
          description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
            docs/platform/stripe-v2-adoption.md.
      responses:
        "204":
          description: Deleted.
  /v1/work_items/{id}/attachments:
    get:
      tags:
        - Attachments
      summary: List attachments on a work item
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: ^wi_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `wi_<base58>`."
            example: wi_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `wi_<base58>`."
      responses:
        "200":
          description: Attachments.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttachmentListEnvelope"
  /v1/comments/{id}/attachments:
    get:
      tags:
        - Attachments
      summary: List attachments on a comment
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: ^cmt_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `cmt_<base58>`."
            example: cmt_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `cmt_<base58>`."
      responses:
        "200":
          description: Attachments.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttachmentListEnvelope"
  /v1/work_item_types/{workItemTypeId}/attribute_definitions:
    get:
      tags:
        - Attributes
      summary: List attribute definitions for a work-item type
      parameters:
        - in: path
          name: workItemTypeId
          schema:
            type: string
            pattern: ^wit_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `wit_<base58>`."
            example: wit_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `wit_<base58>`."
      responses:
        "200":
          description: Definitions.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttributeDefinitionListEnvelope"
    post:
      tags:
        - Attributes
      summary: Create an attribute definition on a work-item type
      parameters:
        - in: path
          name: workItemTypeId
          schema:
            type: string
            pattern: ^wit_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `wit_<base58>`."
            example: wit_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `wit_<base58>`."
        - in: header
          name: idempotency-key
          schema:
            description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
              docs/platform/stripe-v2-adoption.md.
            type: string
            maxLength: 255
          description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
            docs/platform/stripe-v2-adoption.md.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAttributeDefinition"
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttributeDefinitionEnvelope"
  /v1/attribute_definitions/{id}:
    get:
      tags:
        - Attributes
      summary: Retrieve an attribute definition
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: ^ad_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `ad_<base58>`."
            example: ad_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `ad_<base58>`."
      responses:
        "200":
          description: The definition.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttributeDefinitionEnvelope"
        "404": *a1
    patch:
      tags:
        - Attributes
      summary: Update an attribute definition
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: ^ad_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `ad_<base58>`."
            example: ad_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `ad_<base58>`."
        - in: header
          name: idempotency-key
          schema:
            description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
              docs/platform/stripe-v2-adoption.md.
            type: string
            maxLength: 255
          description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
            docs/platform/stripe-v2-adoption.md.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAttributeDefinition"
      responses:
        "200":
          description: Updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttributeDefinitionEnvelope"
    delete:
      tags:
        - Attributes
      summary: Delete an attribute definition
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: ^ad_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `ad_<base58>`."
            example: ad_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `ad_<base58>`."
        - in: header
          name: idempotency-key
          schema:
            description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
              docs/platform/stripe-v2-adoption.md.
            type: string
            maxLength: 255
          description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
            docs/platform/stripe-v2-adoption.md.
      responses:
        "204":
          description: Deleted.
  /v1/work_items/{id}/attribute_values:
    get:
      tags:
        - Attributes
      summary: List attribute values on a work item
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: ^wi_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `wi_<base58>`."
            example: wi_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `wi_<base58>`."
      responses:
        "200":
          description: Values.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttributeValueListEnvelope"
  /v1/work_items/{workItemId}/attribute_values/{definitionId}:
    put:
      tags:
        - Attributes
      summary: Set an attribute value on a work item (idempotent upsert)
      description: "PUT for idempotency: repeated calls with the same body converge to the same state. The
        service validates the value against the definition's `data_type` + `config` and rejects
        mismatches with `attribute_value_type_mismatch`."
      parameters:
        - in: path
          name: workItemId
          schema:
            type: string
            pattern: ^wi_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `wi_<base58>`."
            example: wi_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `wi_<base58>`."
        - in: path
          name: definitionId
          schema:
            type: string
            pattern: ^ad_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `ad_<base58>`."
            example: ad_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `ad_<base58>`."
        - in: header
          name: idempotency-key
          schema:
            description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
              docs/platform/stripe-v2-adoption.md.
            type: string
            maxLength: 255
          description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
            docs/platform/stripe-v2-adoption.md.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetAttributeValue"
      responses:
        "200":
          description: Upserted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttributeValueEnvelope"
    delete:
      tags:
        - Attributes
      summary: Unset an attribute value on a work item
      parameters:
        - in: path
          name: workItemId
          schema:
            type: string
            pattern: ^wi_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `wi_<base58>`."
            example: wi_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `wi_<base58>`."
        - in: path
          name: definitionId
          schema:
            type: string
            pattern: ^ad_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `ad_<base58>`."
            example: ad_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `ad_<base58>`."
        - in: header
          name: idempotency-key
          schema:
            description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
              docs/platform/stripe-v2-adoption.md.
            type: string
            maxLength: 255
          description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
            docs/platform/stripe-v2-adoption.md.
      responses:
        "204":
          description: Unset.
  /v1/work_items/{workItemId}/attribute_values/{definitionId}/compute:
    post:
      tags:
        - Attributes
      summary: Compute one attribute value via LLM (sync, single item)
      description: A suggestion with provenance, never a clobber — if the value already carries a human
        (`manual`) write the call is a no-op skip (`outcome='skipped_manual_override'`). Requires
        the definition to carry an `enrichment` config. Metered like every other LLM surface (org
        budget pre-flight).
      parameters:
        - in: path
          name: workItemId
          schema:
            type: string
            pattern: ^wi_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `wi_<base58>`."
            example: wi_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `wi_<base58>`."
        - in: path
          name: definitionId
          schema:
            type: string
            pattern: ^ad_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `ad_<base58>`."
            example: ad_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `ad_<base58>`."
        - in: header
          name: idempotency-key
          schema:
            description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
              docs/platform/stripe-v2-adoption.md.
            type: string
            maxLength: 255
          description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
            docs/platform/stripe-v2-adoption.md.
      responses:
        "200":
          description: Compute result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttributeComputeResult"
  /v1/work_item_types/{workItemTypeId}/attribute_definitions/{definitionId}/enrichment_jobs:
    post:
      tags:
        - Attributes
      summary: Enqueue an async column-wide enrichment job
      description: Computes the attribute for every work item of the type in the background; returns 202
        immediately. A second in-flight job for the same attribute is rejected with 409.
      parameters:
        - in: path
          name: workItemTypeId
          schema:
            type: string
            pattern: ^wit_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `wit_<base58>`."
            example: wit_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `wit_<base58>`."
        - in: path
          name: definitionId
          schema:
            type: string
            pattern: ^ad_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `ad_<base58>`."
            example: ad_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `ad_<base58>`."
        - in: header
          name: idempotency-key
          schema:
            description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
              docs/platform/stripe-v2-adoption.md.
            type: string
            maxLength: 255
          description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
            docs/platform/stripe-v2-adoption.md.
      responses:
        "202":
          description: Job accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttributeEnrichmentJob"
  /v1/attribute_enrichment_jobs/{id}:
    get:
      tags:
        - Attributes
      summary: Poll an enrichment job's status + live progress counts
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: ^aej_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `aej_<base58>`."
            example: aej_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `aej_<base58>`."
      responses:
        "200":
          description: The job.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttributeEnrichmentJob"
        "404": *a1
  /v1/audit_logs:
    get:
      tags:
        - AuditLogs
      summary: List the caller's organization audit log
      description: Cursor-paginated read of `service.audit_events`, ordered by `occurred_at` desc. Records
        every member / role / api-key / env / webhook / template / billing change. Stripe / AWS
        CloudTrail-style developer-dashboard surface.
      parameters:
        - in: query
          name: page_size
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - in: query
          name: page_token
          schema:
            type: string
            minLength: 1
        - in: query
          name: actor_id
          schema:
            description: Filter on the domain actor (raw opaque text — NOT a wire-prefixed id). Matches
              `service.audit_events.actor_id` exactly.
            type: string
            minLength: 1
            maxLength: 128
          description: Filter on the domain actor (raw opaque text — NOT a wire-prefixed id). Matches
            `service.audit_events.actor_id` exactly.
        - in: query
          name: auth_principal
          schema:
            description: Filter on the credential that authed (e.g. `api_key:ak_abc`, `account:acc_xyz`).
            type: string
            minLength: 1
            maxLength: 128
          description: Filter on the credential that authed (e.g. `api_key:ak_abc`, `account:acc_xyz`).
        - in: query
          name: action
          schema:
            description: "Substring prefix-match on `action`. Example: `member.` matches every `member.*`
              action."
            type: string
            minLength: 1
            maxLength: 100
          description: "Substring prefix-match on `action`. Example: `member.` matches every `member.*` action."
        - in: query
          name: target_type
          schema:
            type: string
            minLength: 1
            maxLength: 40
        - in: query
          name: source
          schema:
            type: string
            enum:
              - dashboard
              - api
              - system
              - webhook
              - support
              - migration
              - automation
        - in: query
          name: workspace_id
          schema:
            type: string
            pattern: ^ws_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `ws_<base58>`."
            example: ws_3wVELpcuMmQzwJYr5JBWv5
        - in: query
          name: occurred_at_gte
          schema:
            type: string
            format: date-time
            pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
        - in: query
          name: occurred_at_lte
          schema:
            type: string
            format: date-time
            pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
      responses:
        "200":
          description: A page of audit events.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuditEventPage"
  /v1/request_logs:
    get:
      tags:
        - RequestLogs
      summary: List the caller's organization HTTP request log
      description: "Cursor-paginated read of `service.request_audit`, ordered by `occurred_at` desc.
        Captures every authenticated HTTP request — method / path / status / latency / api_key_id or
        account_id. Stripe events / CloudTrail / Datadog APM-style developer-dashboard surface for
        debugging integration traffic. Retention: 90 days."
      parameters:
        - in: query
          name: page_size
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - in: query
          name: page_token
          schema:
            type: string
            minLength: 1
        - in: query
          name: workspace_id
          schema:
            type: string
            pattern: ^ws_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `ws_<base58>`."
            example: ws_3wVELpcuMmQzwJYr5JBWv5
        - in: query
          name: api_key_id
          schema:
            type: string
            pattern: ^ak_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `ak_<base58>`."
            example: ak_3wVELpcuMmQzwJYr5JBWv5
        - in: query
          name: account_id
          schema:
            type: string
            pattern: ^acc_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `acc_<base58>`."
            example: acc_3wVELpcuMmQzwJYr5JBWv5
        - in: query
          name: method
          schema:
            type: string
            enum:
              - GET
              - POST
              - PUT
              - PATCH
              - DELETE
              - HEAD
              - OPTIONS
        - in: query
          name: path
          schema:
            description: "Substring prefix-match. Example: `/v1/work_items` matches every nested resource under
              that prefix."
            type: string
            minLength: 1
            maxLength: 200
          description: "Substring prefix-match. Example: `/v1/work_items` matches every nested resource under
            that prefix."
        - in: query
          name: status_code
          schema:
            type: integer
            minimum: 100
            maximum: 599
        - in: query
          name: status_class
          schema:
            description: Filter by status class. `2` = 2xx, `3` = 3xx, `4` = 4xx, `5` = 5xx. AND-merges with
              `status_code` if both supplied.
            type: integer
            minimum: -9007199254740991
            maximum: 9007199254740991
          description: Filter by status class. `2` = 2xx, `3` = 3xx, `4` = 4xx, `5` = 5xx. AND-merges with
            `status_code` if both supplied.
        - in: query
          name: occurred_at_gte
          schema:
            type: string
            format: date-time
            pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
        - in: query
          name: occurred_at_lte
          schema:
            type: string
            format: date-time
            pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
      responses:
        "200":
          description: A page of request log entries.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestLogPage"
  /v1/chat/completions:
    post:
      tags:
        - Chats
      summary: OpenAI Chat Completions (byte-compat adapter)
      description: "Drop-in replacement for `POST /v1/chat/completions` on the OpenAI API: existing apps
        using the `openai` SDK swap base URLs and keep their code unchanged. v1 supports `model`,
        `messages`, `stream`, `temperature`, `max_tokens`, `tools`, `tool_choice`. SSE format is
        OpenAI shape (`data: {...}\\n\\ndata: [DONE]\\n\\n`). Stateless — no persisted chat row, no
        message append. For typed events + persistence, use `POST /v1/chats/{id}/responses`
        (chat-surface-design.md § 1)."
      parameters:
        - in: header
          name: idempotency-key
          schema:
            description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
              docs/platform/stripe-v2-adoption.md.
            type: string
            maxLength: 255
          description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
            docs/platform/stripe-v2-adoption.md.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChatCompletionsRequest"
      responses:
        "200":
          description: Completion (non-streaming) or SSE stream.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatCompletionsResponse"
            text/event-stream:
              schema:
                type: string
        "402":
          description: BYOK credential required.
        "429":
          description: Rate limit / usage cap exceeded.
  /v1/chat/models:
    get:
      tags:
        - Chats
      summary: List chat models with published rates
      description: "Returns the chat-model catalog. Each entry carries published input/output token rates
        in `usd_micros` (1 USD = 1,000,000 micros), supported features, and a stable
        `price_version`. `kind: 'alias'` entries (`jurisimus-fast`, `jurisimus-smart`) route to a
        real provider model via `alias_for`. No silent fallbacks — when an alias re-points, both
        `alias_for` and `rates` change in lock-step in the catalog response."
      responses:
        "200":
          description: Catalog.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatModelCatalogResponse"
  /v1/chats:
    post:
      tags:
        - Chats
      summary: Create a chat
      description: Creates a persisted chat under the calling tenant. Optional `external_user_id` isolates
        chats per end-user inside one tenant; optional `metadata` is opaque to the platform.
      parameters:
        - in: header
          name: idempotency-key
          schema:
            description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
              docs/platform/stripe-v2-adoption.md.
            type: string
            maxLength: 255
          description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
            docs/platform/stripe-v2-adoption.md.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateChat"
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Chat"
    get:
      tags:
        - Chats
      summary: List chats
      description: "Cursor-paginated chat list (Stripe v2 / AIP-158 envelope). Scoped to the caller's
        organization + workspace. Filters: `external_user_id` (per-end-user isolation per
        chat-surface-design.md § 6), `metadata.<k>=<v>` (JSONB containment), `created_after`
        (incremental sync). Ordered newest-first by `(created_at, id)`. The cursor fingerprint pins
        the filter set — re-issuing a stale `page_token` against a different filter shape returns
        400 with `code: invalid_cursor`."
      parameters:
        - in: query
          name: external_user_id
          schema:
            type: string
            minLength: 1
            maxLength: 255
        - in: query
          name: metadata
          schema:
            type: object
            propertyNames:
              type: string
            additionalProperties:
              type: string
        - in: query
          name: created_after
          schema:
            type: string
            format: date-time
            pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
        - in: query
          name: page_size
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - in: query
          name: page_token
          schema:
            type: string
            minLength: 1
      responses:
        "200":
          description: Cursor page of chats.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatList"
  /v1/chats/{id}:
    patch:
      tags:
        - Chats
      summary: Update a chat
      description: Partial update of chat metadata (title, etc.). Only supplied fields are modified.
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: ^[a-z][a-z0-9]*_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `<prefix>_<base58>`. Prefix is the resource type's
              stable short tag (`acc`, `org`, `pr`, `wi`, …). See `docs/platform/api-discipline.md`
              § A1."
            example: wi_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `<prefix>_<base58>`. Prefix is the resource type's
            stable short tag (`acc`, `org`, `pr`, `wi`, …). See `docs/platform/api-discipline.md` §
            A1."
        - in: header
          name: idempotency-key
          schema:
            description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
              docs/platform/stripe-v2-adoption.md.
            type: string
            maxLength: 255
          description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
            docs/platform/stripe-v2-adoption.md.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateChat"
      responses:
        "200":
          description: Updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Chat"
        "404":
          description: Not found.
    delete:
      tags:
        - Chats
      summary: Delete a chat
      description: Soft-deletes the chat. Idempotent.
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: ^[a-z][a-z0-9]*_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `<prefix>_<base58>`. Prefix is the resource type's
              stable short tag (`acc`, `org`, `pr`, `wi`, …). See `docs/platform/api-discipline.md`
              § A1."
            example: wi_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `<prefix>_<base58>`. Prefix is the resource type's
            stable short tag (`acc`, `org`, `pr`, `wi`, …). See `docs/platform/api-discipline.md` §
            A1."
        - in: header
          name: idempotency-key
          schema:
            description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
              docs/platform/stripe-v2-adoption.md.
            type: string
            maxLength: 255
          description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
            docs/platform/stripe-v2-adoption.md.
      responses:
        "200":
          description: Deletion ack.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatDeleteAck"
  /v1/chats/{id}/messages:
    get:
      tags:
        - Chats
      summary: List a chat's messages
      description: Returns the chat row with all of its messages in chronological order.
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: ^[a-z][a-z0-9]*_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `<prefix>_<base58>`. Prefix is the resource type's
              stable short tag (`acc`, `org`, `pr`, `wi`, …). See `docs/platform/api-discipline.md`
              § A1."
            example: wi_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `<prefix>_<base58>`. Prefix is the resource type's
            stable short tag (`acc`, `org`, `pr`, `wi`, …). See `docs/platform/api-discipline.md` §
            A1."
      responses:
        "200":
          description: Chat + messages.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatWithMessages"
        "404":
          description: Not found.
    post:
      tags:
        - Chats
      summary: Append a durable item to a chat
      description: Appends a conversation item (user message, tool result, system message, imported
        assistant message) to a persisted chat. **No model invocation; no billing.** Pair with `POST
        /v1/chats/{id}/responses` to run the model — see chat-surface-design.md § 2 for why these
        are separate sub-resources. Use this endpoint for tool-result backfill, conversation
        imports, and any "remember this turn" pattern where you do not want a model call to fire.
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: ^[a-z][a-z0-9]*_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `<prefix>_<base58>`. Prefix is the resource type's
              stable short tag (`acc`, `org`, `pr`, `wi`, …). See `docs/platform/api-discipline.md`
              § A1."
            example: wi_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `<prefix>_<base58>`. Prefix is the resource type's
            stable short tag (`acc`, `org`, `pr`, `wi`, …). See `docs/platform/api-discipline.md` §
            A1."
        - in: header
          name: idempotency-key
          schema:
            description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
              docs/platform/stripe-v2-adoption.md.
            type: string
            maxLength: 255
          description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
            docs/platform/stripe-v2-adoption.md.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddChatMessage"
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatMessage"
  /v1/chats/{id}/responses:
    post:
      tags:
        - Chats
      summary: Invoke the model on a persisted chat
      description: "The model-invocation half of the persisted-chat split. Pair with `POST
        /v1/chats/{id}/messages` (durable append, no model call) per chat-surface-design.md § 2. Set
        `stream: true` for Server-Sent Events; otherwise returns the completed `ChatResponse` JSON.
        Bills via reserve/commit/release (§ 8). Idempotent on the write side via `Idempotency-Key`
        (§ 9): same key + same body returns the existing response_id; same key + different body
        returns 409."
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: ^[a-z][a-z0-9]*_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `<prefix>_<base58>`. Prefix is the resource type's
              stable short tag (`acc`, `org`, `pr`, `wi`, …). See `docs/platform/api-discipline.md`
              § A1."
            example: wi_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `<prefix>_<base58>`. Prefix is the resource type's
            stable short tag (`acc`, `org`, `pr`, `wi`, …). See `docs/platform/api-discipline.md` §
            A1."
        - in: header
          name: idempotency-key
          schema:
            description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
              docs/platform/stripe-v2-adoption.md.
            type: string
            maxLength: 255
          description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
            docs/platform/stripe-v2-adoption.md.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateChatResponse"
      responses:
        "200":
          description: "Server-Sent Events stream — emits a leading `chat_response` event carrying `{ chat_id,
            chat_response_id }`, then Anthropic-style typed events: `message_start`,
            `content_block_start`, `content_block_delta`, `content_block_stop`, `message_delta`,
            `message_stop`. On failure, an `error` event is emitted with the platform error taxonomy
            code. Reconnecting clients can fetch the persisted result via `GET
            /v1/chats/{id}/responses/{response_id}`."
          content:
            text/event-stream:
              schema:
                type: string
        "201":
          description: Completed response (non-streaming).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatResponse"
        "402":
          description: BYOK credential required.
        "409":
          description: Idempotency-Key already in flight or reused with a different body.
        "429":
          description: Rate limit / usage cap exceeded.
  /v1/chats/{id}/responses/{responseId}:
    get:
      tags:
        - Chats
      summary: Fetch a persisted chat response
      description: Returns the persisted `ChatResponse` row — the durable record of a model invocation.
        Use after a stream disconnects to fetch the completed result without replaying the SSE bytes
        (chat-surface-design.md § 9).
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: ^chat_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `chat_<base58>`."
            example: chat_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `chat_<base58>`."
        - in: path
          name: responseId
          schema:
            type: string
            pattern: ^cresp_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `cresp_<base58>`."
            example: cresp_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `cresp_<base58>`."
      responses:
        "200":
          description: The chat response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatResponse"
        "404":
          description: Not found.
  /v1/chats/{chatId}/branch:
    post:
      tags:
        - Chats
      summary: Fork a chat from a specific message
      description: Creates a new chat that branches from the given message. The new chat inherits the
        conversation up to (and including) the branch point.
      parameters:
        - in: path
          name: chatId
          schema:
            type: string
          required: true
        - in: header
          name: idempotency-key
          schema:
            description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
              docs/platform/stripe-v2-adoption.md.
            type: string
            maxLength: 255
          description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
            docs/platform/stripe-v2-adoption.md.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateChatBranch"
      responses:
        "201":
          description: Branch created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateBranchResponse"
  /v1/chats/{chatId}/branches:
    get:
      tags:
        - Chats
      summary: List branches of a chat
      parameters:
        - in: path
          name: chatId
          schema:
            type: string
          required: true
      responses:
        "200":
          description: Branches.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BranchInfo"
  /v1/chats/message/{messageId}/branches:
    get:
      tags:
        - Chats
      summary: List branches forking from a specific message
      parameters:
        - in: path
          name: messageId
          schema:
            type: string
          required: true
      responses:
        "200":
          description: Branches.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BranchInfo"
  /v1/comments:
    get:
      tags:
        - Comments
      summary: List comments
      description: Page-paginated list. Filter by `work_item_id` and / or `author_id`.
      parameters:
        - in: query
          name: work_item_id
          schema:
            type: string
            pattern: ^wi_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `wi_<base58>`."
            example: wi_3wVELpcuMmQzwJYr5JBWv5
        - in: query
          name: actor_id
          schema:
            type: string
            minLength: 1
            maxLength: 128
            pattern: ^[A-Za-z0-9_:.\-+@]+$
        - in: query
          name: page_size
          schema:
            default: 20
            type: integer
            minimum: 1
            maximum: 100
        - in: query
          name: page_token
          schema:
            type: string
            minLength: 1
      responses:
        "200":
          description: A page of comments.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommentListEnvelope"
    post:
      tags:
        - Comments
      summary: Create a comment
      parameters:
        - in: header
          name: idempotency-key
          schema:
            description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
              docs/platform/stripe-v2-adoption.md.
            type: string
            maxLength: 255
          description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
            docs/platform/stripe-v2-adoption.md.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateComment"
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommentEnvelope"
  /v1/work_items/{workItemId}/comments:
    get:
      tags:
        - Comments
      summary: List comments on a work item, with author projection
      description: Joined view used by the comment renderer — each row carries a minimal `author`
        projection alongside the comment.
      parameters:
        - in: path
          name: workItemId
          schema:
            type: string
            pattern: ^wi_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `wi_<base58>`."
            example: wi_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `wi_<base58>`."
      responses:
        "200":
          description: Comments + authors.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommentByWorkItemListEnvelope"
    post:
      tags:
        - Comments
      summary: Create a comment on a work item
      parameters:
        - in: path
          name: workItemId
          schema:
            type: string
            pattern: ^wi_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `wi_<base58>`."
            example: wi_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `wi_<base58>`."
        - in: header
          name: idempotency-key
          schema:
            description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
              docs/platform/stripe-v2-adoption.md.
            type: string
            maxLength: 255
          description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
            docs/platform/stripe-v2-adoption.md.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: string
                  minLength: 1
                mentions:
                  type: array
                  items:
                    type: string
                    pattern: ^acc_[1-9A-HJ-NP-Za-km-z]+$
                    description: "Prefixed resource ID. Wire form: `acc_<base58>`."
                    example: acc_3wVELpcuMmQzwJYr5JBWv5
              required:
                - content
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommentEnvelope"
  /v1/comments/{id}:
    get:
      tags:
        - Comments
      summary: Retrieve a comment
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: ^[a-z][a-z0-9]*_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `<prefix>_<base58>`. Prefix is the resource type's
              stable short tag (`acc`, `org`, `pr`, `wi`, …). See `docs/platform/api-discipline.md`
              § A1."
            example: wi_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `<prefix>_<base58>`. Prefix is the resource type's
            stable short tag (`acc`, `org`, `pr`, `wi`, …). See `docs/platform/api-discipline.md` §
            A1."
      responses:
        "200":
          description: The comment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommentEnvelope"
        "404": *a1
    put:
      tags:
        - Comments
      summary: Update a comment
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: ^[a-z][a-z0-9]*_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `<prefix>_<base58>`. Prefix is the resource type's
              stable short tag (`acc`, `org`, `pr`, `wi`, …). See `docs/platform/api-discipline.md`
              § A1."
            example: wi_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `<prefix>_<base58>`. Prefix is the resource type's
            stable short tag (`acc`, `org`, `pr`, `wi`, …). See `docs/platform/api-discipline.md` §
            A1."
        - in: header
          name: idempotency-key
          schema:
            description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
              docs/platform/stripe-v2-adoption.md.
            type: string
            maxLength: 255
          description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
            docs/platform/stripe-v2-adoption.md.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateComment"
      responses:
        "200":
          description: Updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommentEnvelope"
    delete:
      tags:
        - Comments
      summary: Delete a comment
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: ^[a-z][a-z0-9]*_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `<prefix>_<base58>`. Prefix is the resource type's
              stable short tag (`acc`, `org`, `pr`, `wi`, …). See `docs/platform/api-discipline.md`
              § A1."
            example: wi_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `<prefix>_<base58>`. Prefix is the resource type's
            stable short tag (`acc`, `org`, `pr`, `wi`, …). See `docs/platform/api-discipline.md` §
            A1."
        - in: header
          name: idempotency-key
          schema:
            description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
              docs/platform/stripe-v2-adoption.md.
            type: string
            maxLength: 255
          description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
            docs/platform/stripe-v2-adoption.md.
      responses:
        "204":
          description: Deleted.
  /v1/user/llm_credentials:
    get:
      tags:
        - Credentials
      summary: List the caller’s LLM credentials
      description: Returns every active credential owned by the authenticated user. The raw provider API
        key is NEVER carried; consumers identify rows via `key_fingerprint_short` + `key_last4`.
      responses:
        "200":
          description: A list of credential rows.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserLlmCredentialList"
    post:
      tags:
        - Credentials
      summary: Attach a new LLM credential
      description: Verifies the supplied key with a pre-flight probe and stores it encrypted in the vault.
        The raw key is consumed once and never echoed back — only the projected row + test outcome.
      parameters:
        - in: header
          name: idempotency-key
          schema:
            description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
              docs/platform/stripe-v2-adoption.md.
            type: string
            maxLength: 255
          description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
            docs/platform/stripe-v2-adoption.md.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUserLlmCredential"
      responses:
        "201":
          description: Credential created. `test_result` carries the probe outcome.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CredentialTestResponse"
  /v1/user/llm_credentials/{id}/test:
    post:
      tags:
        - Credentials
      summary: Re-test an existing credential
      description: Re-runs the pre-flight probe against the provider. Updates `last_tested_at` +
        `last_test_result` on the row.
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: ^[a-z][a-z0-9]*_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `<prefix>_<base58>`. Prefix is the resource type's
              stable short tag (`acc`, `org`, `pr`, `wi`, …). See `docs/platform/api-discipline.md`
              § A1."
            example: wi_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `<prefix>_<base58>`. Prefix is the resource type's
            stable short tag (`acc`, `org`, `pr`, `wi`, …). See `docs/platform/api-discipline.md` §
            A1."
        - in: header
          name: idempotency-key
          schema:
            description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
              docs/platform/stripe-v2-adoption.md.
            type: string
            maxLength: 255
          description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
            docs/platform/stripe-v2-adoption.md.
      responses:
        "200":
          description: Probe complete.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CredentialTestResponse"
  /v1/user/llm_credentials/{id}:
    delete:
      tags:
        - Credentials
      summary: Revoke a credential
      description: Marks the row revoked. Returns the projected row (without raw key material) so the FE
        can update its list optimistically.
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: ^[a-z][a-z0-9]*_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `<prefix>_<base58>`. Prefix is the resource type's
              stable short tag (`acc`, `org`, `pr`, `wi`, …). See `docs/platform/api-discipline.md`
              § A1."
            example: wi_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `<prefix>_<base58>`. Prefix is the resource type's
            stable short tag (`acc`, `org`, `pr`, `wi`, …). See `docs/platform/api-discipline.md` §
            A1."
        - in: header
          name: idempotency-key
          schema:
            description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
              docs/platform/stripe-v2-adoption.md.
            type: string
            maxLength: 255
          description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
            docs/platform/stripe-v2-adoption.md.
      responses:
        "200":
          description: Revoked.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserLlmCredential"
  /v1/public/{public_slug}/feature_request_board:
    get:
      tags:
        - FeatureRequests
      summary: Retrieve the public feature-request-board projection
      description: "Anonymous read of the consumer-side feature-request-board config attached to the
        slug-rooted site. Returns `feature_request_board: null` when the site has no FRBC row
        attached (so the renderer has a single null-check branch)."
      parameters:
        - in: path
          name: public_slug
          schema:
            type: string
          required: true
      responses:
        "200":
          description: The board projection (or null).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicFeatureRequestBoardEnvelope"
        "404": *a1
  /v1/public/{public_slug}/feature_requests:
    get:
      tags:
        - FeatureRequests
      summary: List public feature requests
      parameters:
        - in: path
          name: public_slug
          schema:
            type: string
          required: true
        - in: query
          name: state_category
          schema:
            type: string
            enum:
              - not_started
              - active
              - done
              - dead
        - in: query
          name: page_size
          schema:
            default: 20
            type: integer
            minimum: 1
            maximum: 100
        - in: query
          name: page_token
          schema:
            type: string
            minLength: 1
      responses:
        "200":
          description: A page of feature requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeatureRequestListEnvelope"
    post:
      tags:
        - FeatureRequests
      summary: Submit a feature request anonymously
      parameters:
        - in: path
          name: public_slug
          schema:
            type: string
          required: true
        - in: header
          name: x-turnstile-token
          schema:
            description: Cloudflare Turnstile token. Required when the public portal `require_turnstile` is
              true; otherwise ignored.
            type: string
          description: Cloudflare Turnstile token. Required when the public portal `require_turnstile` is
            true; otherwise ignored.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateFeatureRequest"
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeatureRequestEnvelope"
        "403":
          description: Project does not accept anonymous submissions or the feature-requests surface is not
            enabled.
        "429":
          description: Rate-limited.
  /v1/public/{public_slug}/feature_requests/{id}:
    get:
      tags:
        - FeatureRequests
      summary: Retrieve a public feature request
      parameters:
        - in: path
          name: public_slug
          schema:
            type: string
          required: true
        - in: path
          name: id
          schema:
            type: string
            pattern: ^fr_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `fr_<base58>`."
            example: fr_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `fr_<base58>`."
      responses:
        "200":
          description: The feature request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeatureRequestEnvelope"
        "404": *a1
  /v1/public/{public_slug}/feature_requests/{id}/reactions:
    post:
      tags:
        - FeatureRequests
      summary: Add an upvote reaction
      parameters:
        - in: path
          name: public_slug
          schema:
            type: string
          required: true
        - in: path
          name: id
          schema:
            type: string
            pattern: ^fr_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `fr_<base58>`."
            example: fr_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `fr_<base58>`."
      responses:
        "201":
          description: Reaction added. Idempotent at the DB layer — duplicate POSTs from the same reactor
            return 201 with the existing reaction unchanged.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeatureRequestReactionAddedEnvelope"
  /v1/public/{public_slug}/feature_requests/{id}/reactions/{type}:
    delete:
      tags:
        - FeatureRequests
      summary: Remove a reaction
      parameters:
        - in: path
          name: public_slug
          schema:
            type: string
          required: true
        - in: path
          name: id
          schema:
            type: string
            pattern: ^fr_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `fr_<base58>`."
            example: fr_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `fr_<base58>`."
        - in: path
          name: type
          schema:
            type: string
            const: upvote
          required: true
      responses:
        "200":
          description: Reaction removed (or already absent).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeatureRequestReactionRemovedEnvelope"
  /v1/public/{public_slug}/changelog:
    get:
      tags:
        - FeatureRequests
      summary: List shipped feature requests (changelog feed)
      description: Returns the same `FeatureRequest` shape as the public list, filtered to
        `state.category=done` AND `shipped_at IS NOT NULL`, sorted by `shipped_at DESC, id DESC`.
        The `since` query param clips to `shipped_at > since` for cheap "what shipped this week"
        queries.
      parameters:
        - in: path
          name: public_slug
          schema:
            type: string
          required: true
        - in: query
          name: since
          schema:
            type: string
            format: date-time
            pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
        - in: query
          name: page_size
          schema:
            default: 20
            type: integer
            minimum: 1
            maximum: 100
        - in: query
          name: page_token
          schema:
            type: string
            minLength: 1
      responses:
        "200":
          description: A page of shipped feature requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeatureRequestListEnvelope"
        "404":
          description: Slug unknown, project private, or `changelog` not in `enabled_surfaces`.
  /v1/public/{public_slug}/feature_requests/{id}/comments:
    get:
      tags:
        - FeatureRequests
      summary: List comments on a public feature request
      parameters:
        - in: path
          name: public_slug
          schema:
            type: string
          required: true
        - in: path
          name: id
          schema:
            type: string
            pattern: ^fr_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `fr_<base58>`."
            example: fr_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `fr_<base58>`."
        - in: query
          name: page_size
          schema:
            default: 20
            type: integer
            minimum: 1
            maximum: 100
        - in: query
          name: page_token
          schema:
            type: string
            minLength: 1
      responses:
        "200":
          description: A page of comments, oldest first.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeatureRequestCommentListEnvelope"
        "404": *a1
    post:
      tags:
        - FeatureRequests
      summary: Add an anonymous comment to a public feature request
      parameters:
        - in: path
          name: public_slug
          schema:
            type: string
          required: true
        - in: path
          name: id
          schema:
            type: string
            pattern: ^fr_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `fr_<base58>`."
            example: fr_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `fr_<base58>`."
        - in: header
          name: x-turnstile-token
          schema:
            description: Cloudflare Turnstile token. Required when the public portal `require_turnstile` is
              true; otherwise ignored.
            type: string
          description: Cloudflare Turnstile token. Required when the public portal `require_turnstile` is
            true; otherwise ignored.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateFeatureRequestComment"
      responses:
        "201":
          description: Comment created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeatureRequestCommentEnvelope"
        "403":
          description: Public project does not accept anonymous submissions.
        "404": *a1
        "429":
          description: Rate-limited.
  /v1/public/{public_slug}/feature_requests/{id}/comments/{comment_id}:
    delete:
      tags:
        - FeatureRequests
      summary: Delete the caller's own comment (anonymous)
      description: Soft-deletes the comment only when the caller anon cookie or authed account matches the
        recorded author. Mismatch returns 404 (not 403) so the surface does not leak comment
        existence.
      parameters:
        - in: path
          name: public_slug
          schema:
            type: string
          required: true
        - in: path
          name: id
          schema:
            type: string
            pattern: ^fr_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `fr_<base58>`."
            example: fr_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `fr_<base58>`."
        - in: path
          name: comment_id
          schema:
            type: string
            pattern: ^cmt_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `cmt_<base58>`."
            example: cmt_3wVELpcuMmQzwJYr5JBWv5
          required: true
          description: "Prefixed resource ID. Wire form: `cmt_<base58>`."
      responses:
        "204":
          description: Comment soft-deleted.
        "404": *a1
  /v1/findings:
    get:
      tags:
        - Findings
      summary: List findings
      description: Page/limit pagination plus grouped-by-date buckets in the same envelope so SDK
        consumers render in one round-trip.
      parameters:
        - in: query
          name: chat_id
          schema:
            type: string
            pattern: ^chat_[1-9A-HJ-NP-Za-km-z]+$
            description: "Prefixed resource ID. Wire form: `chat_<base58>`."
            example: chat_3wVELpcuMmQzwJYr5JBWv5
        - in: query
          name: date_range
          schema:
            type: string
            enum:
              - today
              - yesterday
              - week
              - month
              - all
        - in: query
          name: search
          schema:
            type: string
        - in: query
          name: page_size
          schema:
            default: 20
            type: integer
            minimum: 1
            maximum: 100
        - in: query
          name: page_token
          schema:
            type: string
            minLength: 1
      responses:
        "200":
          description: A page of findings + date-bucket grouping.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FindingList"
    post:
      tags:
        - Findings
      summary: Create a finding
      parameters:
        - in: header
          name: idempotency-key
          schema:
            description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
              docs/platform/stripe-v2-adoption.md.
            type: string
            maxLength: 255
          description: Stripe v2-style key. 30-day replay window; side-effect-safe retry on error. See
            docs/platform/stripe-v2-adoption.md.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateFinding"
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FindingEnvelope"
    delete:
      tags:
        - Findings
      summary: Bulk soft-delete findings
      description: Soft-delete by explicit id list. Surfaced via `GET /findings/trash` and restorable via
[...]
